example/node-red/three-sensors.json
[{"id":"73164d4d.8aa594","type":"tab","label":"Flow 1"},{"id":"b9e2b39f.39b1b","type":"coap request","z":"73164d4d.8aa594","method":"POST","observe":false,"url":"coap://localhost/other/ingest/","content-format":"application/cbor","raw-buffer":false,"name":"","x":635,"y":223,"wires":[[]]},{"id":"2305d4c.c64272c","type":"inject","z":"73164d4d.8aa594","name":"Mouse","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":83,"y":224,"wires":[["5a576aac.1bb744"]]},{"id":"5a576aac.1bb744","type":"function","z":"73164d4d.8aa594","name":"MakeJSON","func":"msg.payload = \n{\n    timestamp: new Date(msg.payload).toISOString(),\n    asset: 'mouse'\n}\n;\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":224,"wires":[["b9e2b39f.39b1b"]]},{"id":"5ed264f2.469fcc","type":"sensorTag","z":"73164d4d.8aa594","name":"","topic":"sensorTag","uuid":"","temperature":true,"humidity":true,"pressure":true,"magnetometer":true,"accelerometer":true,"gyroscope":true,"keys":true,"luxometer":true,"x":91,"y":399,"wires":[["46d4dc6a.2b29e4"]]},{"id":"46d4dc6a.2b29e4","type":"function","z":"73164d4d.8aa594","name":"MakeJSON","func":"msg.payload = {\n    timestamp: new Date().toISOString(),\n    asset: 'TI SensorTag',\n    sensor_values: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":396,"wires":[["b9e2b39f.39b1b"]]},{"id":"f37861aa.1e1d","type":"inject","z":"73164d4d.8aa594","name":"Clock","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":112,"y":85,"wires":[["a2d7ecbd.e5a81"]]},{"id":"a2d7ecbd.e5a81","type":"function","z":"73164d4d.8aa594","name":"MakeJSON","func":"msg.payload = \n{\n    timestamp: new Date(msg.payload).toISOString(),\n    asset: 'clock'\n};\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":82,"wires":[["b9e2b39f.39b1b"]]}]