examples/node-red/three-assets.json
[
    {
        "id": "27545083.bd05f8",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "c57c3776.693",
        "type": "coap request",
        "z": "27545083.bd05f8",
        "method": "POST",
        "observe": false,
        "url": "coap://localhost/other/sensor-values",
        "content-format": "application/cbor",
        "raw-buffer": false,
        "name": "",
        "x": 609,
        "y": 248,
        "wires": [
            []
        ]
    },
    {
        "id": "9ae25c7c.42389",
        "type": "inject",
        "z": "27545083.bd05f8",
        "name": "Mouse",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 57,
        "y": 249,
        "wires": [
            [
                "f844efd.b5b4f1"
            ]
        ]
    },
    {
        "id": "f844efd.b5b4f1",
        "type": "function",
        "z": "27545083.bd05f8",
        "name": "MakeJSON",
        "func": "msg.payload = \n{\n    timestamp: new Date(msg.payload).toISOString(),\n    asset: 'mouse'\n}\n;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 271,
        "y": 249,
        "wires": [
            [
                "c57c3776.693"
            ]
        ]
    },
    {
        "id": "39cde418.fccdcc",
        "type": "sensorTag",
        "z": "27545083.bd05f8",
        "name": "",
        "topic": "sensorTag",
        "uuid": "",
        "temperature": true,
        "humidity": true,
        "pressure": true,
        "magnetometer": true,
        "accelerometer": true,
        "gyroscope": true,
        "keys": true,
        "luxometer": true,
        "x": 65,
        "y": 424,
        "wires": [
            [
                "a8ee4b25.a4c928"
            ]
        ]
    },
    {
        "id": "a8ee4b25.a4c928",
        "type": "function",
        "z": "27545083.bd05f8",
        "name": "MakeJSON",
        "func": "msg.payload = {\n    timestamp: new Date().toISOString(),\n    asset: 'TI SensorTag',\n    sensor_values: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 421,
        "wires": [
            [
                "c57c3776.693"
            ]
        ]
    },
    {
        "id": "766a7c62.462f3c",
        "type": "inject",
        "z": "27545083.bd05f8",
        "name": "Clock",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "x": 86,
        "y": 110,
        "wires": [
            [
                "3c7e5e68.4737aa"
            ]
        ]
    },
    {
        "id": "3c7e5e68.4737aa",
        "type": "function",
        "z": "27545083.bd05f8",
        "name": "MakeJSON",
        "func": "msg.payload = \n{\n    timestamp: new Date(msg.payload).toISOString(),\n    asset: 'clock'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 287,
        "y": 109,
        "wires": [
            [
                "c57c3776.693"
            ]
        ]
    }
]